body
{
	font-family:'Open Sans', sans-serif;
	color:#000;
}

.headerImage
{
	background:url(../images/portfolio-bg.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	background-color:#fff;
	margin:0px;
}

.headerImage h1 {
	font-family: 'Lobster';
	font-size: 45px;
	text-align: center;
	padding-top: 140px;
}

.headerImage h2 {
	text-align: center;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 15px;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 20px;
    line-height: 30px;
}

.interest
{
	padding:1%;
	text-align:center;
}
.spacing
{
	padding-top:10%;
}

.mediumspacing
{
	padding-top:5%;
}

.section {
	margin-top: 50px;
}

.container-fluid
{
	margin:5%;
}
.heading
{
	font-family:"Lobster";
	font-size:200%;
	color:#000;
}

.ull
{
	padding-left:0px !important;
}
.lii
{
	display:inline;
	margin-right:10px;
}

.progress
{
	border-radius: 0px;
	background-color: #d7d7d7;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}
.progress-bar-success
{
	background-color: #000;
}

.timeline
{
	border-left: 0;
}
.timelinedotright
{
	background-image:none;
}

.timelinedotleft
{
	background-image:none;
}

.event-title {
	padding-left: 25px;
}

.projects
{
	padding-bottom: 30px;
}

footer{
	padding-bottom: 40px;
}

.spacing-bottom {
	padding-bottom: 40px;
}

.spacing-top {
	padding-top: 40px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.headerImage h1 {
		font-size: 72px;
		padding-top: 270px;
	}

	.headerImage h2 {
		letter-spacing: 5px;
    	font-size: 20px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.headerImage h1 {
		padding-top: 620px;
	}

	.timeline
	{
		border-left: solid 1px #000000;
	}

	.timelinedotright
	{
		background-image:url(../images/timelinedotright.png);
		background-position:top left;
		background-repeat:no-repeat;
		background-size:60px;
		padding-bottom: 30px;
	}

	.timelinedotleft
	{
		background-image:url(../images/timelinedotleft.png);
		background-position:top right;
		background-repeat:no-repeat;
		background-size:60px;
	}

	.projects{
		border-right: solid 1px #000000;
	}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
